[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
[submodule "content"]
	path = content
	url = https://github.com/visimp/visimp
	branch = doc/visimp-pages
